button {
    width: 70px;
    height: 25px;
    margin: 20px;
    background: #61dafb;
    color: blue;
    border-radius: 5px;
}

.showAllAffairs {
    width: 500px;
    background-color: lightcyan;
}

.affair {
    display: flex;
}

.item {
    margin: 10px;
    width: 100px;
}

.middle {
color: yellow;
}

.high {
color: orangered;
}

.low {
    color: green;
}